@model IEnumerable<BookAppMVC.Models.Books>

@{
    ViewData["Title"] = "Pääsivu";
}


<h2>Kirjasi</h2>


<table class="table">
    <thead>
        <tr>
                <th>
                    Kirja
                </th>
                <th>
                    Kirjailija
                </th>
                <th>
                    Lainauspäivämäärä
                </th>
                <th>
                    Ostopäivämäärä
                </th>
                <th>
                    Lukemispäivämäärä
                </th>
                <th>
                    Palautuspäivmäärä
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Kirja_nimi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kirjailija_nimi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lainauspvm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ostospvm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lukemispvm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Palautuspvm)
            </td>
            <td>
                @Html.ActionLink("Muokkaa", "Edit", new {  id=item.ID }) |
            </td>
        </tr>

        
}
    </tbody>
</table>

